@page
@model Catalog.API.Pages.CatalogGetModel
@{

    ViewData["Title"] = "List of Catalog";
}

<h2>@ViewData["Title"]</h2>

<p><a asp-page="Create">Add Product</a></p>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Summary</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    @foreach (var product in Model.products)
    {
        <tbody>
        <th>@product.Id</th>
        <th>@product.Name</th>
        <th>@product.Category</th>
        <th>@product.Summary</th>
        <th>@product.Description</th>
        <th>@product.Price</th>
        <th><button type="submit" asp-page-handler="Delete" asp-route-id="@product.Id">
        Удалить
        </button></th>
        </tbody>
    }
</table>

